<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/movieCards.css">
    <title>Movia</title>
</head>

<body>
    <%- include('./../templates/navbar.ejs', {loginDisplay:"block", signupDisplay:"block", }) %>
    <%
    // jacard similarity
    function jacardSimilarity(set1, set2) {
        let intersection = 0
        let union = 0
        for (let i = 0; i < set1.length; i++) {
            if (set2.includes(set1[i])) {
                intersection++
            }
        }
        union = set1.length + set2.length - intersection
        return intersection / union
    }

    recommendedMovies = []
    for (let i = 0; i < movies.length; i++) {
        movie = movies[i]
        movieSimilarity = 0
        for (let j = 0; j < myratings[user.email].length; j++) {
            ratedMovie = myratings[user.email][j].movie

            genre1 = movie.genre
            genre2 = ratedMovie.genre
            genreSimilarityScore = jacardSimilarity(genre1, genre2)

            cast1 = movie.Cast
            cast2 = ratedMovie.Cast
            castSimilarityScore = jacardSimilarity(cast1, cast2)

            director1 = movie.Director
            director2 = ratedMovie.Director
            directorSimilarityScore = jacardSimilarity(director1, director2)

            movieSimilarity += 0.1*(myratings[user.email][j].myrating)*(1*directorSimilarityScore + 3*castSimilarityScore + 6* genreSimilarityScore)/30 //scaling it to 1
    }
    movieSimilarity += movie.Rating[0]/20 
    // console.log(movie.Title, movieSimilarity)
    recommendedMovies.push({movie: movie, similarity: movieSimilarity})
    
}
recommendedMovies.sort((a, b) => b.similarity - a.similarity) //sort in descending order

recommendedMovies = recommendedMovies.filter((movie) => {
    return !myratings[user.email].some((ratedMovie) => ratedMovie.movie.Title === movie.movie.Title)
})
%>

<div class="otherThanNav">
    <div class="container">
        <h1 class="text-center mt-3">Movies</h1>
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Recommended Movies</h2>
            </div>
        </div>
    <div class="movie-container">
        <div class="row mb-3 text-center">
            <% for(let i = 0; i < 6; i++) { %>
                <div class="card border-secondary col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3">
                    <img class="card-img-top mx-auto d-block m-2 rounded" src="<%= recommendedMovies[i].movie.Image['280w'] %>" alt="<%= recommendedMovies[i].movie.Title %>" onclick="handleClick(event, '<%= recommendedMovies[i].movie.imdbID %>')">
                    <div class="card-body">
                        <h5 class="card-title"><%= recommendedMovies[i].movie.Title %></h5>
                        <div class="card-text" style="text-align: left;">
                            <h6>Duration:&nbsp;<small class="text-muted"><%= recommendedMovies[i].movie.Metadata[1] %></small></h6>
                            <h6>Rating:&nbsp;<small class="text-muted"><%= recommendedMovies[i].movie.Rating[0] %>/10</small></h6>
                            <h6>Genre:&nbsp;<small class="text-muted"><%= recommendedMovies[i].movie.genre.join(', ') %></small></h6>
                            <h6>Director:&nbsp;<small class="text-muted"><%= recommendedMovies[i].movie.Director.join(', ') %></small></h6>
                            <h6>Stars:&nbsp;<small class="text-muted"><%= recommendedMovies[i].movie.Cast.join(', ') %></small></h6>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-secondary btn-sm" onclick="handleClick(event, '<%= recommendedMovies[i].movie.imdbID %>')">More</button>                </div>
                </div>
            <% } %>
        </div>
    </div>
</div>

<script>
function handleClick(event, imdbID) {
window.location.href = `/movie/${imdbID}`;
}
</script>
<script src="/search.js"></script>
    
</body>
</html>