<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search results for <%= searchQuery %> </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
  <% function bigramize(title) {
        let bigrams = [];
        for (let i = 0; i < title.length - 1; i++) {
            bigrams.push(title.substring(i, i + 2));
        }
        return bigrams;
    } 
    
    function jaccard_similarity(bigrams1, bigrams2) {
        const set1 = new Set(bigrams1);
        const set2 = new Set(bigrams2);
        const intersection = new Set([...set1].filter(x => set2.has(x)));
        const union = new Set([...set1, ...set2]);
        return intersection.size / union.size;
    }
    
    function searchMovies(searchQuery) {
        let bigramSearchQuery = bigramize(searchQuery.toLowerCase());
    
        let similarMovies = [];
        let maxSimilarity = 0;
        let mostSimilarMovie = null;
    
        for (let i = 0; i < movies.length; i++) {
            let cleanedTitle = movies[i].Title.toLowerCase().replace(/[^a-z0-9\s]/gi, '');
            let bigramTitle = bigramize(cleanedTitle);
            let similarity = jaccard_similarity(bigramSearchQuery, bigramTitle);
    
            // Check if the search query is a substring of the movie title
            if (cleanedTitle.includes(searchQuery.toLowerCase().replace(/[\s]/g, '')) || cleanedTitle.includes(searchQuery.toLowerCase()) ) {
                similarMovies.push(movies[i]);
            } else if (similarity > 0.3) {
                similarMovies.push(movies[i]);
            }
    
            if (similarity > maxSimilarity) {
                maxSimilarity = similarity;
                mostSimilarMovie = movies[i];

            }
        }
        return similarMovies;
    }
    %>
  <%- include('./../templates/navbar.ejs', {loginDisplay:"block", signupDisplay:"block"}) %>
  <% let similarMovies = searchMovies(searchQuery); %>
  <% if(similarMovies.length == 0) { %>
  <h1 class="text-center mt-3">No movies found for <%= searchQuery %></h1>
  <% } else { %>
  <h1 class="text-center mt-3">Search results for <%= searchQuery %></h1>

  <div class="otherThanNav">
    <div class="container">

      <div class="movie-container">
        <div class="row mb-3 text-center justify-content-center">
          <% for(let i = 0; i < similarMovies.length; i++) { %>
            <%- include('./../templates/eachMovieCard.ejs', {movieToAdded : similarMovies, i, myratings}) %>
          <% } %>
        </div>
      </div>
    </div>
    <script>
      function handleClick(event, imdbID) {
        window.location.href = `/movie/${imdbID}`;
      }
    </script>


    <% } %>


</body>

</html>