<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <title>Movia</title>
    </head>
    
    <body>
        <!-- include the navbar from templates folder -->
        <%- include('./../templates/navbar.ejs', {loginDisplay:"block", signupDisplay:"block"}) %>
        <div class="otherThanNav">
            <div class="container">
                <h1 class="text-center mt-3">Movies</h1>
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-center">Rated By You</h2>
                    </div>
                </div>
            <div class="movie-container">
                <div class="row mb-3 text-center">
                    <% for(let i = 0; i < myratings[user.email].length; i++) { %>
                       
                        <div class="card border-secondary col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3">
                            <img class="card-img-top mx-auto d-block m-2 rounded" src="<%= myratings[user.email][i].movie.Image['280w'] %>" alt="<%= myratings[user.email][i].movie.Title %>">
                            <div class="card-body">
                                <h5 class="card-title"><%= myratings[user.email][i].movie.Title %></h5>
                                <div class="card-text" style="text-align: left;">
                                    <h6>Duration:&nbsp;<small class="text-muted"><%= myratings[user.email][i].movie.Metadata[1] %></small></h6>
                                    <h6>Rating:&nbsp;<small class="text-muted"><%= myratings[user.email][i].movie.Rating[0] %>/10</small></h6>
                                    <h6>Genre:&nbsp;<small class="text-muted"><%= myratings[user.email][i].movie.genre.join(', ') %></small></h6>
                                    <h6>Director:&nbsp;<small class="text-muted"><%= myratings[user.email][i].movie.Director.join(', ') %></small></h6>
                                    <h6>Stars:&nbsp;<small class="text-muted"><%= myratings[user.email][i].movie.Cast.join(', ') %></small></h6>
                                    <h6>You Rated:&nbsp;<small class="text-muted"><%= myratings[user.email][i].myrating %></small></h6>

                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="button" class="btn btn-secondary btn-sm" onclick="handleClick(event, '<%= myratings[user.email][i].movie.imdbID %>')">More</button>                </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
<script>
    function handleClick(event, imdbID) {
        window.location.href = `/movie/${imdbID}`;
    }
    console.log(<%= user %>);
</script>
<script src="/search.js"></script>
        
    </body>
    </html>