<div class="otherThanNav">
<div class="movie-container" style="margin: 20px;">
    <div class="row mb-3 text-center">
        <% for(let i = (pagenumber - 1) * numContent; i < Math.min(pagenumber * numContent, 250); i++) { %>
            <div class="card border-secondary col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3">
                <img class="card-img-top mx-auto d-block m-2 rounded" src="<%= movies[i].Image['280w'] %>" alt="<%= movies[i].Title %>" onclick="handleClick(event, '<%= movies[i].imdbID %>')">
                <div class="card-body">
                    <h5 class="card-title"><%= movies[i].Title %></h5>
                    <div class="card-text" style="text-align: left;">
                        <h6>Duration:&nbsp;<small class="text-muted"><%= movies[i].Metadata[1] %></small></h6>
                        <h6>Rating:&nbsp;<small class="text-muted"><%= movies[i].Rating[0] %>/10</small></h6>
                        <h6>Genre:&nbsp;<small class="text-muted"><%= movies[i].genre.join(', ') %></small></h6>
                        <h6>Director:&nbsp;<small class="text-muted"><%= movies[i].Director.join(', ') %></small></h6>
                        <h6>Stars:&nbsp;<small class="text-muted"><%= movies[i].Cast.join(', ') %></small></h6>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-secondary btn-sm" id="MoreBtn<%= i %>" onclick="handleClick(event, '<%= movies[i].imdbID %>')">More</button>
                </div>
                    
            </div>
        <% } %>
    </div>
</div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="rateModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Rate Movie</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="rateForm">
            <div class="form-group">
              <label for="rating">Rating</label>
              <input type="number" class="form-control" id="rating" name="rating" min="1" max="10" required>
                <!-- hidden input for imdb id -->
                <input type="hidden" id="imdbID" name="imdbID" value="">
                <!-- hidden input for movie index -->
                <input type="hidden" id="movieIndex" name="movieIndex" value="">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="submitRating">Submit</button>
          <button type="button" class="btn btn-secondary" id="rateclose" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<script>
    function handleClick(event, imdbID) {
        window.location.href = `/movie/${imdbID}`;
    }
</script>