<div class="movie-container">
    <div class="row mb-3 text-center">
        <% for(let i = (pagenumber - 1) * numContent; i < Math.min(pagenumber * numContent, 250); i++) { %>
            <div class="card border-secondary col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3">
                <img class="card-img-top mx-auto d-block m-2 rounded" src="<%= movies[i].Image['280w'] %>" alt="<%= movies[i].Title %>">
                <div class="card-body">
                    <h5 class="card-title"><%= movies[i].Title %></h5>
                    <div class="card-text" style="text-align: left;">
                        <h6>Duration:&nbsp;<small class="text-muted"><%= movies[i].Metadata[1] %></small></h6>
                        <h6>Rating:&nbsp;<small class="text-muted"><%= movies[i].Rating[0] %>/10</small></h6>
                        <h6>Genre:&nbsp;<small class="text-muted"><%= movies[i].genre.join(', ') %></small></h6>
                        <h6>Director:&nbsp;<small class="text-muted"><%= movies[i].Director.join(', ') %></small></h6>
                        <h6>Stars:&nbsp;<small class="text-muted"><%= movies[i].Cast.join(', ') %></small></h6>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-secondary btn-sm" id="MoreBtn<%= i %>" onclick="handleClick(event, '<%= movies[i].imdbID %>')">More</button>                </div>
            </div>
        <% } %>
    </div>
</div>

<script>
    function handleClick(event, imdbID) {
        const buttonId = event.target.id;
        console.log(buttonId);
        const movieIndex = parseInt(buttonId.replace('MoreBtn', ''));
        window.location.href = `/movie/${imdbID}?movieIndex=${movieIndex}`;
    }
</script>